body {
  background-color: #1c1f23;
  font-family: Arial, sans-serif;
  color: white;
}

.top-contents {
  text-align: center;
  color: #6466E9;
}

.statement {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 25px;
}

.fields {
  color: #6466E9;
  border-color: orange;
  text-align: center;
  font-size: 22px;
}

.app-redirect {
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  /* color: #6466E9 !important;
  background-color: #6466E9 !important; */
}
