body {
  background-color: #1c1f23;
  font-family: Arial, sans-serif;
  color: white;
}

.logo {
  text-align: center;
}

.top-contents {
  text-align: center;
  color: #6466E9;
}

.statement {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.button-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #6466E9;
}

.button-selector button {
  margin-right: 10px;
}

.fields {
  color: #6466E9;
  border-color: orange;
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
}

.app-redirect button {
  background-color: #6466e9;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
