  body {
  background-color: #1c1f23;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  color: white;
}

.submit {
  color: blue;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

#add-task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

button {
  padding: 10px 20px;
  background-color: #FF6B6B;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #363636;
  border-radius: 5px;
}

.task-checkbox:checked {
  background-color: #363636;
}

label {
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  background-color: #FDF5E6;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

label:hover {
  text-decoration: line-through;
}
